{% extends "restaurant_review/base.html" %}
{% load restaurant_extras %}
{% block title %}Restaurant List{% endblock %}
{% block head %}
    {{ block.super }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }

      .score {
        display: block;
        font-size: 16px;
        position: relative;
        overflow: hidden;
      }
      
      .score-wrap {
        display: inline-block;
        position: relative;
        height: 19px;
      }
      
      .score .stars-active {
        color: #EEBD01;
        position: relative;
        z-index: 10;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
      }
      
      .score .stars-inactive {
        color: grey;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-text-stroke: initial;
        /* overflow: hidden; */
      }
  </style>
{% endblock %}
{% block content %}
  <h1> Welcome to machine learning Program </h1>

    <p> This is a web portal for our machine learning needs </p>
    <p>
        {% load static %} <img src="{% static 'images/ml.jpg' %}" alt="AI" width="300" height="300" />
    </p>

    {#  gGet user input for API #}
    {% comment %}
    <form method="POST" action="{% url 'add_restaurant' %}">
        <div class="mb-3">
          <label for="restaurant_name" class="form-label">Name</label>
          <input type="text" class="form-control" id="restaurant_name" name="restaurant_name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="cancel" class="btn btn-primary">Cancel</button>
      </form>
    {% endcomment %}



    {# Call the API #}

    {#  display result #}
    <p> {% Helloworld %} </p>

{% endblock %}